.menu {
    background-color: whitesmoke;
    display: flex;
    margin: 1rem;
    font-size: 18px;
}

.menu__item {
    padding: 1rem;
    border-top: 0.25rem solid transparent;
}

.menu__dropdown-level2 {
    position: relative;
}
.menu__dropdown-level2::after{
    content: '>';
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 12px;
    color: white;
}

.menu__dropdown-level2:hover>.dropdown-level2 {
    display: block;

}

.menu__item:hover {
    border-color: blue;
}

.menu__link {
    color: black;
    text-decoration: none;
}

.menu__dropdown {
    position: relative;

}

.menu__dropdown::after {
    content: '>';
    position: absolute;
    right: 1px;
    top: 15px;
    transform: rotate(90deg);
    font-size: 12px;
}

.menu__dropdown:hover>.dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.637);
    top: 100%;
    left: 0;
    min-width: 200px;
    display: none;

}

.dropdown__item {
    padding: 0.5rem;
}

.dropdown__link {
    color: white;
    text-decoration: none;
}

.dropdown-level2 {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.637);
    min-width: 200px;
    display: none;
}

.dropdown-level2__item {
    padding: 0.5rem;
}

.dropdown-level2__link {
    text-decoration: none;
    color: white;
}