/**
 * /*Acco
 *
 * @format
 */

.ac-container {
  max-width: 400px;
}

/*
Znacznik label, którego przodkiem jest klasa .ac-container
(0, 1, 1)
*/
.ac-container label {
  height: 30px !important;
  line-height: 21px !important;
  font-size: 12px !important;
  font-family: "Open Sans", "Arial Narrow", Arial, sans-serif !important;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, #fff),
    color-stop(100%, #eaeaea)
  );
  background: -webkit-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -o-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: linear-gradient(top, #fff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3),
    1px 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

/*
Zmiana koloru tła po najechaniu przez kursor myszy na znacznik label,
który znajduje się wewnątrze elementu o klasie .ac-container
(0, 2, 1)
*/
label:hover {
  background: #fff;
}

/*
Te same style CSS dla dwóch selektorów:
1)
znacznik label, którego poprzedni brat jest znaznaczonym inputem (użyj pseudoklasy),
i ten brat musi posiadać przodka o klasie .ac-container
(0, 2, 2)
2)
to samo co w 1) ale z efektem najechania kursorem na label
(0, 3, 2)
*/
.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #f1f2f3;
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 21px;
  font-size: 13px;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}

/*
Pseudo-element jako ostatnie dziecko label, tworzony tylko po najechaniu kursorem myszy na ten element (label),
którego poprzedni brat jest zaznaczonym inputem (użyj pseudoklasy),
którego przodek to element o klasie .ac-container
(0, 3, 3)
*/
.ac-container input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: #777;
  line-height: 23px;
  font-size: 10px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  font: normal normal 12px "Open Sans";
}

/*
Rodzeństwo o typie article, dla elementu input, który jest zaznaczony (użyj pseudoklasy)
oraz posiada przodka o klasie .ac-container
(0, 2, 2)
*/
.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked ~ article.ac-small {
  height: 140px;
}

.ac-container input:checked ~ article.ac-medium {
  height: 180px;
}

.ac-container input:checked ~ article.ac-large {
  height: 230px;
}
