.nav__link > a {
    text-transform: uppercase;
    color: #000;
    background: #fff;
}

ul li {
	display: block;
	position: relative;
	float: left;
	background: #333;
    
}

li ul {
	display: none;
}

ul li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
}

.nav-menu li a:hover {
	color: royalblue;
    background: #fff;
}

li:hover > ul {
	display: block;
	position: absolute;
}

li:hover li a:hover {
	background: #333;
}

ul ul ul {
	left: 100%;
	top: 0;
}

.img-container {
    position: absolute;
    top: 30%;
    left: 30%;
}