html, body {
    background-color: #f6f6f6;
}

a {
    color: #333333;
    text-decoration: none;
}

.header__container {
    margin: 0 auto;
    max-width: 1024px;
}

.nav__container {
    background-color: #fff;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__item {
    font-size: 1.5rem;
    list-style-type: none;
    padding: 2rem;
}

.nav__link a {
    color: #fff;
    padding: 1rem;
}

.nav__item a:hover {
    color: #00b5ed;
}

.nav__item:hover>ul {
    display: block;
    position: absolute;
    background-color: #333333;
    width: 200px;
    margin-top: 30px;
}

.nav__links {
    display: none;
}
