*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 62,5%;
}

html{
    --bg-border:rgb(12, 144, 206);
}
body{
    background-color: rgba(241, 238, 238, 0.877);
}

.nav{
    min-height:10vh;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.nav__list {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-size:1.5rem;
    margin:2rem 2rem;
}

.nav__list li {
    list-style: none;
    padding: 0.8rem;
    border:2px solid transparent;
}

/* Jak już używamy BEM to zawsze powinniśmy stylować po klasie (z wyłączeniem reset.css)s */

/*  komentarz dla mnie: Zwróć uwagę, że jak najedziesz na oferta to menu skacze. 
    Jest to spowodowane tym, że border dodatkowo rozpycha to menu. 
    Nie jest to pożądany efekt. 
    Możesz border utworzyć zawsze z kolorem "transparent", a na :hover nadawać kolor ;) */

.nav__list .nav__item:hover{
    border-top:2px solid var(--bg-border);
}

.nav__list li a{
    text-decoration: none;
}

.nav__item a {
    color:rgb(12, 144, 206);
}

.dropdown__item a{
    color:rgb(255, 255, 255);
}

.arrow1{
    display:inline-block;
    margin:0.8rem;
    transform: rotate(90deg);
}

.arrow2{
    margin:0.8rem;
}

/* 2th level menu */

.nav__item{
    text-transform: uppercase;
    position: relative;
}

.nav__dropdown {
    display:none;
    position:absolute;
    left:0;
    padding-top:0.7rem;
}

.nav__item:hover .nav__dropdown {
    display:block;
}

/* 3th level menu */
.dropdown__item {
    position:relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav__dropdown--level3 {
    display:none;
    position:absolute;
    left:100%;
    top:0;
}

.dropdown__item:hover .nav__dropdown--level3 {
    display:block
}

/* Komentarz dla mnie
Dodawanie do klas liczb, nie jest najlepszym pomysłem.
Lepiej by było zrobić coś takiego: nav__dropdown nav__dropdown--level3.
Mimo, że level3 zawiera liczbę, ale wiadomo, że to dotyczy szczególnego przypadku dot. poziomu.
Teraz nav__dropdown zawiera ogólne style, a nav__dropdown--level3 szczególne. */
