
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: rgb(201, 188, 188);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(62, 67, 119);
  margin-top: 50px;
}

.logo {
  font-size: 20px;
  color: rgb(252, 81, 133);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav_links ul {
  background-color: rgb(62, 67, 119);
  list-style: none;
}

.nav_links li {
  display: block;
  padding: 16px;
}

.nav_links a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav_links > li {
  border-top: 4px solid transparent;
}

.nav_links > li:hover {
  border-top: 4px solid rgb(252, 81, 133);
}


/* Contact button */

.btn {
  padding: 9px 18px;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  background-color: rgb(62, 67, 119, 1);
  border-radius: 50px;
  border: 1px solid rgb(252, 81, 133);
  cursor: pointer;
  transition: .3s ease-in;
}

.btn:hover {
  background-color: rgb(80, 156, 167, 0.4);
}

.btn:focus {
  outline: 0;
}

/*  Drop down menu */

.nav_links ul {
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.nav_links li {
  position: relative;
  transition-duration: 0.3s;
}

.nav_links li:hover > .dropdown,
.nav_links .dropdown:hover {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown li {
  border-top: 2px solid rgb(252, 81, 133);
  transition: background .5s ease-in-out;
}

.dropdown li:hover {
  background-color:  rgb(252, 81, 133);
}


/* dropdown_2 */

.dropdown .sub_dropdown {
  position: absolute;
  margin-top: 1rem;
  top: -18px;
  left: 159px;
  display: none;
}

.dropdown li:hover > .sub_dropdown,
.sub_dropdown:hover {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sub_dropdown li:first-child {
  border: none;
}


/* arrows */

.arrow_dropdown,
.arrow_sub_dropdown {
  display: inline-block;
  color: rgb(252, 81, 133);
  font-size: 15px;
  margin-left: 10px;
}

.arrow_sub_dropdown {
  transform: rotate(-90deg);
  color: #fff;
}

.arrow_sub_dropdown:hover {
  color: white;
}