/*wiersz z paskiem MENU*/
nav > ul {
    display: flex;  
}
nav ul > li {
    background: rgb(0, 200, 250);
    border-top: 3px solid rgb(0, 200, 250);
    padding: 0 5px;
    width: 120px;   
    position: relative;
    
}
nav ul > li:hover {
border-top: 3px solid rgb(3, 240, 161);
}

nav > ul > li  ul {
    display: none;
    position: absolute;
}


nav > ul > li:hover > ul {
    display: block;
    left: 0; 
}

nav > ul > li > ul > li:hover ul {
    display: block;
    left: 120px;
    top: 10px;
}

/*strzałki -strzałka menu*/

nav > ul > li div {
    display: inline-block;
}
nav > ul > li > div > p { 
    display: none;
    transform:rotate(90deg);
    padding: 0 10px;
}
nav > ul > li:hover > div > p { 
    display: block;
}

/*strzałki -strzałka dropdown*/

nav > ul > li > ul > li > div > p { 
    display: none;
    padding: 0 10px;
}
nav > ul > li > ul > li:hover div p { 
    display: block;
}

/*"klik" w dropdown*/
nav > ul > li > ul > li > ul > li:hover div{
    display:block;
}

/*odnośniki */ 
a {
    text-decoration: none;
    color: black; /*jak zrobić reset koloru lub reset ustawień dla <a> ?*/
}
