:root {

}

.nav {
    background: rgb(192, 192, 192);
    display: flex;
    padding: 10px;
}

.nav__item {
    background: white;
    width: 70px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
}

.nav .nav__item:hover {
    border-top: 2px solid; color: pink;
}

.nav__item:hover > .nav__dropdown-1 {
    display: block;
}

.submen-1::after {
    content: '>';
    position: absolute;
    right: 5px;
    top: 15px;
    transform: rotate(90deg);
}

.nav__dropdown-1 {
    display: none;
    position: absolute;
    left: 0;
    padding-top: 15px;
}

.dropdown__item-1 {
    color: white;
    background-color: rgb(51, 51, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    min-width: 120px;
    text-align: left;
    position: relative;
}

.dropdown__item-1:hover > .nav__dropdown-2 {
    display: block;
}

.submen-2::after {
    content: '>';
    position: absolute;
    right: 20px;
    top: 3px;
}

.nav__dropdown-2 {
    display: none;
    color: white;
    position: absolute;
    left: 100%;
    top: 0;
    text-align: left;
}

.dropdown__item-2 {
    color: white;
    background-color: rgb(51, 51, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    min-width: 120px;
}