:root {
  --primary-text: #000;
  --secondary-text: #8e9396;
  --bg-color: #c7c7c7;
  --hover-color: #009ae1;
  --dropdown-color: #333333;
  --nav-bg: #fff;
}

html {
  background-color: var(--bg-color);
  color: var(--primary-text);
  height: 100vh;
}

.nav {
  overflow: hidden;
}

.nav__list {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--nav-bg);
  font-size: 20px;
  text-transform: uppercase;
}

.nav__item:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.dropdown {
  display: none;
  color: var(--secondary-text);
  background-color: var(--dropdown-color);
  padding: 5px 100px 5px 10px;
  overflow: hidden;
}

.dropdown__item:hover,
.dropdown2__item:hover {
  color: var(--nav-bg);
}

.dropdown2__list {
  color: var(--secondary-text);
}

.nav__item:hover::before {
  width: 100%;
  display: block;
  height: 4px;
  content: "";
  background-color: var(--hover-color);
  border-radius: 2px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: var(--secondary-text);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
