* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
}
/*wspolne*/

.parent {
    outline: 2px solid;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    height: 150px;
}

.child {
    
}



/*inline block*/
.parent--inline-block {
    text-align: center;
    
    
}

.parent--inline-block .child {
    display: inline-block;
    width: 30%; 
    border: 1px solid pink; 

}

.parent--inline-block :last-child {
    width: 40%;
}



/*float*/

.parent--float .child {
    border: 1px solid black;
    width: 30%;
    float: left;
    text-align: center;
}

.parent--float .child--last{
    width: 40%;
}

/*Flex*/

.parent--flexbox {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
      
}

.parent--flexbox  .child--first {
    margin-right: 10px;
    outline: 2px blue solid;
    width: 30%;
    ;
}

.parent--flexbox  .child--middle {
    margin-right: 10px;
    outline: 2px red solid;
   width: 30%;
}

.parent--flexbox  .child--last {
    outline: 2px green solid; 
    width: 40%;
}

