/* #1 Regular Weight */
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/SourceSansPro-Regular.otf");
}

/* #2 Italic Style */
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: normal;
	src: url("./fonts/SourceSansPro-It.otf");
}

/* #3 Bold Weight */
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: bold;
	src: url("./fonts/SourceSansPro-Bold.otf");
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}
/*wspolne*/

.parent {
    outline: 2px solid;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    height: 150px;
}

.child {
    height: 100px;
    text-align: center;
}

.child--first {
	font-style: normal;
	font-weight: normal;
}

.child--middle {
	font-style: normal;
	font-weight: bold;
}

.child--last {
	font-style: italic;
	font-weight: normal;
}

/*inline block*/

.parent--inline-block .child--first,
.parent--inline-block .child--middle {
    display: inline-block;
    width: 30%; 
    border: 1px solid pink;
    margin-right: 10px; 
    vertical-align: center;

}

.parent--inline-block .child--last {
    display: inline-block;
    border: 1px solid pink;
    width: calc(40% - 20px);
}

/*float*/

.parent--float .child--first, .parent--float .child--middle {
    border: 1px solid black;
    width: calc(30% - 10px);
    float: left;
    margin-right: 10px;
    
}

.parent--float .child--last{
    border: 1px solid black;
    width: 40%;
    float: left;
}

/*Flex*/

.parent--flexbox {
    display:flex;
    justify-content: space-between;    
}

.parent--flexbox  .child--first {
    margin-right: 10px;
    border: 1px blue solid;
    width: 30%;
}

.parent--flexbox  .child--middle {
    margin-right: 10px;
    border: 1px red solid;
    width: 30%;
}

.parent--flexbox  .child--last {
    border: 1px green solid; 
    width: 40%;
}

