.parent {
    width: 600px;
    padding: 20px;
}

.child {
    width: calc(30% - 10px);
    font-family: 'Source Sans Pro';
    font-style: normal;
}

.child:nth-child(3) {
    width: calc(40% - 10px);
}

.child--first + .child--middle,
.child--middle + .child--last {
    margin-top: 10px;
}

.child--middle {
    font-weight: bold;
}

.child--last {
    font-style: italic;
}
