

.parent {
    width: 600px;
    padding: 20px;
}

.child--first {
    width: 30%;
}

.child--middle {
    width: 30%;
}

.child--last {
    width: 40%;
}

.child {

   display: inline-block;
  
} 




