@font-face {
    font-family: 'SOURCE SANS PRO';
    src: url('./assets/fonts/SourceSansPro-Bold.otf') format('opentype');
    src: url('./assets/fonts/SourceSansPro-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}
.parent {
    display: flex;
    justify-content: space-between;
    border: 3px solid gold;
    min-width: 600px;
    outline-color: green;
    padding: 20px;
}
.child--first {
    width: 30%;
    margin-right: 10px;
    font-family: 'SOURCE SANS PRO';
}
.child--middle {
    width: 30%;
    margin-right: 10px;
    font-family: 'SOURCE SANS PRO';
    font-weight: bold;
}
.child--last{
    width: 40%;
    font-family: 'SOURCE SANS PRO';
    font-style: italic;
}
.parent--inline-block > .child {
    display: inline-block;
}
.clearfix::after {
    content: "";
    clear: both;
}
.parent--float {
    float: left;
}
.parent--float > .child {
    display: inline-block;
}
/* .parent--flexbox {
    display: flex;
    justify-content: start;
} */