/** @format */
@font-face {
  font-family: "Source Sans PRO";
  src: url(source-sans-pro/SourceSansPro-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Source Sans PRO", Arial, sans-serif;
}
