.parent {
    width: 600px;
    padding: 20px;
}

.parent--inline-block .child {
    display: inline-block;
}

.parent--float::after {
    content: '';
    display: block;
    clear: both;
}

.parent--float .child {
    float: left;
}

.parent--flexbox {
    display: flex;
}

.child--first,
.child--middle {
    width: calc(30% - 10px);
    margin-right: 10px;
}

.child--last {
    width: 40%;
}

@font-face {
    font-family: 'Source Sans PRO';
    src: url(source-sans-pro/SourceSansPro-Bold.otf) format('opentype');
}

.child {
    font-family: 'Source Sans PRO';
}

.child--first {
    font-style: normal;
}

.child--middle {
    font-style: bold;
}

.child--last {
    font-style: italic;
}