@font-face {
	font-family: 'Source Sans PRO';
	src: url(./fonts/SourceSansPro-Regular.otf) format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Source Sans PRO';
	src: url(./fonts/SourceSansPro-It.otf format('opentype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Source Sans PRO';
	src: url(./fonts/SourceSansPro-Bold.otf) format('opentype');
	font-style: bold;
	font-weight: bold;
}
html,
body {
	font-family: 'Source Sans PRO';
}

.parent {
	width: 600px;
	padding: 20px;
	border: 1px solid blue;
}

.parent--flexbox {
	display: flex;
}

.parent--inline-block .child {
	display: inline-block;
}

.parent--float .child {
	float: left;
}

.parent--float::after {
	content: '';
	display: block;
	clear: both;
}

.child--first {
	font-style: normal;
}

.child--middle {
	font-weight: bold;
}

.child--first,
.child--middle {
	width: calc(30% - 10px);
	margin-right: 10px;
}

.child--last {
	width: 40%;
	font-style: italic;
}
