.parent {
  padding: 20px;
  width: 600px;
}

.parent--inline-block .child {
  display: inline-block;
}
.parent--float .child {
  float: left;
}

.parent--float::after {
  content: '';
  display: block;
  clear: both;
}

.child {
  margin-right: 10px;
  width: calc(30% - 20px);
}

.child--last {
  margin-right: 0;
  width: calc(40% - 20px);
}

.parent--flexbox {
  display: flex;
  flex-direction: row;
}

.parent--flexbox .child {
  margin-right: 10px;
  width: 30%;
}

.parent--flexbox .child--last {
  margin-right: 0;
  width: 40%;
}
