<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/reset.css">
    <link rel="stylesheet" href="./../styles/normalize.css">
    <link rel="stylesheet" href="./../styles/nav.css">
    <title>Menu task 4</title>
</head>
<body>
    <header>
      <nav class="nav">
        <!-- Main nav list -->
        <ul class="nav__list">
          <li class="nav__list__item home">
            <a href="#">HOME</a>
          </li>
          <li class="nav__list__item items">
            <a href="#">ITEMS
              <i class="arrow arrow--down"></i>
            </a>
            <!-- Primary nav list -->
            <ul class="primary__list">
              <li class="primary__list__item">
                <a href="">Item 1</a>
              </li>
              <li class="primary__list__item">
                <a href="#">Item 2 
                  <i class="arrow arrow--right"></i>
                </a>
                <!-- Secondary nav list -->
                <ul class="secondary__list">
                  <li class="secondary__list__item">
                    <a href="#">Item 2.1
                    </a>
                  </li>
                  <li class="secondary__list__item">
                    <a href="#">Item 2.2</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav__list__item settings">
            <a href="#">SETTINGS</a>
          </li>
          <li class="nav__list__item contact">
            <a href="#">CONTACT</a>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
    
</body>
</html>