.container, .content, .content__item {
    border: 3px solid;
    border-radius: 8px;
    /* padding: 5px;
    margin: 5px; */
}
.container {
    border-color: green;
    padding: 5px;
    margin: 6px;
}
.content {
    border-color: royalblue;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}
.content__item {
    min-height: 50px;
    border-color: gold;
    background-color: gold;
}




.header__container {
    justify-content: space-between;
    padding: 5px 0 5px 0;
}
.header__logo {
    text-align: center;
    min-width: 200px;
}
.nav__container {
    text-align: center;
    min-width: 400px;
}




.main__container {
    padding: 10px 0 10px 0;
}
.main__container > .section__content:first-child{
    margin-right: 10px;
}
.section__content {
    width: 50%;
    min-height: 400px;
}


.section__container {
    padding: 10px;
    justify-content: space-between;
}
.article__content {
    width: 33%;
    min-height: 300px;
    margin-right: 15px;
}
.article__content:last-child {
    margin-right: 0;
}




.footer__container {
    justify-content: center;
    padding: 5px;
}
.footer__copyrigts {
    width: 300px;   
}
