.promotion {
  max-width: 1170px;
  margin: 0 auto;
  padding: 110px 0;
}

.promotion__title {
  color: var(--color-grey-light);
  font-size: 1.4rem;
  padding-bottom: 50px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.promotion__title::before {
  background-color: var(--color-grey-lighter);
  top: 30px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 50px;
}

.article-promo {
  display: flex;
}

.article-promo__content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.article-promo__img {
  padding-right: 10px;
  width: 49%;
}

.article-promo__title {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 40px;
}

.article-promo__description {
  font-weight: 300;
  line-height: 2.4rem;
}

.article-promo__link {
  background-color: var(--color-secondary);
  border-radius: 3px;
  box-shadow: 2px 2px 3px var(--color-grey-light);
  cursor: pointer;
  color: var(--color-white);
  display: block;
  font-weight: 400;
  width: 284px;
  margin-top: 50px;
  padding: 14px 25px 15px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

.article-promo__link:hover {
  opacity: 0.8;
}
