/* .marg--btm {
  margin-bottom: 10px;
} */

.container--border {
  width: 100%;
  border: 4px solid #0ed145;
  margin-bottom: 10px;
}

.container--maxW {
  margin: 5px auto;
  max-width: 1000px;
  border: 4px solid #00a8f3;
}

.content--settings {
  background-color: #ffca18;
}
/* Header section */
/* ////////////////////////////////////// */
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.header--logo {
  height: 60px;
  width: 20%;
}

.header--nav {
  height: 60px;
  width: 45%;
}
/* ////////////////////////////////////// */
/* Section elements */
.section__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.section--ele {
  width: calc(50% - 4px);
  height: 200px;
}
/* ////////////////////////////////////// */
/* Article elements */
.article__container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.article--ele {
  width: calc(33% - 10px);
  height: 200px;
}
/* ////////////////////////////////////// */
/* Footer elements */
footer {
  min-height: 100px;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.footer--ele {
  height: 50px;
  width: 15%;
}
/* ////////////////////////////////////// */
