body{
    background: #f4f4f4;
}

.green{
    border: 5px solid green;
    margin: 10px;
    padding: 5px 0;
}

.green--header .blue{
    display: flex;
    justify-content: space-between;
}

.green--main .orange{
    min-height: 400px;
}

.blue{
    border: 5px solid blue;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
}

.orange{
    background-color: orange;
    min-height: 50px;
}

.orange--logo{
    margin: 0;
    width: 160px;
}

.orange--nav{
    width: 300px;
}

.green--main .blue{
    display: flex;
    justify-content: space-between;
}

.green--main .orange{
    width: 48%;
}

.green--section .blue {
    display: flex;
    justify-content: space-around;
}
.green--section .orange {
    width: 30%;
    min-height: 300px;
}

.green--footer .blue{
    display: flex;
    justify-content: center;
}

.green--footer .orange{
    width: 100px;
}