.content__row {
    max-width: 100%;
}

.content__container-one, .content__container-two {
    display: flex;
    justify-content: space-around;
}

.content__container-one .content__article {
    width: 50%;
    min-height: 250px;
    margin-left: -5px;
    margin-right: -5px;
}

.content__container-two .content__article {
    width: 33%;
    min-height: 250px;
}