.footer__container {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    background-color: beige;
    height: 50px;
    width: 25%;
}

.footer__copyrights {
    background-color: rgb(194, 194, 29);
    height: 50px;
    width: 25%;
}

.footer__sponsor {
    background-color: rgb(9, 133, 50);
    height: 50px;
    width: 25%;
}