body {
    background-color: #f2f2f2;
}

.green {
    border: 3px solid green;
    margin: 10px;
    padding: 5px;
}

.green--header .blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green--main .orange {
    min-height: 200px;
}

.blue {
    border: 3px solid blue;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
}

.orange {
    background-color: orange;
    min-height: 50px;
}

.orange--logo {
    width: 200px;
}

.orange--nav {
    width: 300px;
    height: 50px;
}

.green--main .blue {
    display: flex;
    justify-content: space-between;
}

.green--main .orange {
    width: 45%;
}

.green--section .blue {
    display: flex;
    justify-content: space-around;
}

.green--section .orange {
    width: 30%;
}