/* main content */
.main__container {
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: palevioletred;

}
.Header__title {
    background-color: palevioletred;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.article__main_foto {
    
    
}
.article__p {
    
    background-color: lemonchiffon;
    color: dimgrey;
    text-align: left;
    height: auto;
}

.date__autor {

    font-family:  Trattatello, fantasy;
    font-size: 75%;
    text-align: right;
    width: 85%;
    margin: 15px;
    background-color: lemonchiffon;


}

.article__foto {

    float: right;
    margin: 10px;
    text-align: justify;

}

.text {
    background-color: lemonchiffon;
    color: dimgrey;
    text-align: left;
    height: auto;
    width: 85%;
    margin: 15px;
    padding: 5px;
    
}

.title__table {
    
    font-size: 150%;
    text-decoration: solid;
}

.table, th, td {

    width: 300px;
    height: 30px;
    margin: 5%;
    border: 1px solid black;
    background-color: orange;
    text-align: center;
}

.commentary {

    width: 85%;
    margin: 15px;
    padding: 10px;
    text-align: left;
    background-color: lemonchiffon;

}