header {
    margin: 30px;
    width: 100%;
    display: flex;
}

.nav__item {
    width: 150px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}
.header__logo {
    width: 150px;
    height: 100px;
}
