* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header__logo {
    width: 150px;
    height: 100px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}

/* Main menu */
.menu {
    background-color: #3d3aeb;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    
}

.menu__list {
    display: flex;
    
}

.menu__list li {
    width: 25%;
} 

.menu__link, .menu__item--parent {
    padding: 15px 20px;
}

.menu__link {
    color: #fff;
}

.menu__item--parent {
    cursor: default;
    position: relative;
}

/* Drop-down */
.menu__sublist {
    display: none;
    position: absolute;
    background-color: #ffffff;
}

.menu__sublist--bottom {
    left: 0;
    top: 100%;
}
.menu__item--parent:hover ul {
    display: block;
} 
