html {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

:root {
    --color-light: #BFCBA8;
    --color-dark: #464F41;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

/* -----HEADER----- */

.header {
    background-color: var(--color-dark);
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* -----logo----- */

.header__logo {
    min-width: 100px;
}

.logo {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.logo__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 0;
    padding: 0 20px;
    background-color: var(--color-light);
    color: var(--color-dark);
    opacity: .4;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

/* -----nawigacja----- */

.header__nav {
    min-width: 800px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.nav__item {
    width: 160px;
    /*by nie było przypisywania przy :hover border dla pozostałym .nav__item */
    border: 2px solid var(--color-dark);
    background-color: var(--color-light);
    color: var(--color-dark);
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: var(--color-dark);
}

.nav__item:hover {
    position: relative;
    border: 2px solid var(--color-light);
    background-color: var(--color-dark);
    color: var(--color-light);
    transform: scale(1.1);
}

.nav__item:hover>.nav__link {
    color: var(--color-light);
    text-decoration: underline;
}

/* -----nav-dropdown---- */

.nav__dropdown {
    position: absolute;
    top: 100%;
    display: none;
    width: 100%;
}

.nav__item:hover>.nav__dropdown {
    display: block;
}

.dropdown__item {
    border: 2px solid var(--color-dark);
    background-color: var(--color-dark);
}

.dropdown__link,
.dropdown-level2__link {
    display: block;
    color: var(--color-light);
    text-decoration: none;
}

.dropdown__item:hover {
    /*do pozycjonowania dropdown-level2*/
    position: relative;
    text-decoration: underline;
}

/* -----dropdown-level2---- */

.nav__dropdown-level2 {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 160px;
    background-color: var(--color-dark);
}

.dropdown__item:hover>.nav__dropdown-level2 {
    display: block;
}

.dropdown-level2__item:hover {
    text-decoration: underline;
}

/* -----MAIN----- */

.main {
    background-color: var(--color-light);
}

.main__article,
.main__comments,
.main__opinion-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main__article {
    border-bottom: 2px solid var(--color-dark);
}

.main__opinion-block {
    border-top: 2px solid var(--color-dark)
}

/* -----Article----- */

.article__header {
    color: rgb(160, 111, 20);
    font-weight: 700;
}

.article__title {
    font-size: 44px;
}

.article__author {
    margin-top: 20px;
    font-size: 20px;
}

.article__time {
    margin-left: 30px;
    font-size: 12px;
    font-style: italic;
}

.article__text {
    margin-top: 20px;
    line-height: 150%;
    text-indent: 40px;
    text-align: justify;
}

.article__image-box {
    margin-top: 20px;
    text-align: center;
}

.image-box__image {
    width: 600px;
}

.image-box__title {
    margin-top: 10px;
    font-style: italic;
}

/* ----Article-table---- */

.article__table {
    margin: 20px auto;
    width: 400px;
    border: 2px solid var(--color-dark);
}

.table___title {
    margin-bottom: 10px;
    font-style: italic;
}

.table__header {
    padding: 5px 10px;
    background-color: var(--color-dark);
    color: white;
}

.table__body {
    background-color: #fff;
}

.table__col {
    padding: 5px 20px;
}

/* -----Form----- */

.main__comments {
    margin: 0 auto;
    width: max-content;
}

.comment__title {
    font-weight: 700;
    font-size: 20px;
}

.comment__label {
    display: block;
    margin: 20px;
}

.comment__field {
    margin: 0 20px;
}

.comment__btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 40px;
    border: 2px solid orangered;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

/* -----Opinion-block----- */

.main__opinion-title {
    font-weight: 700;
    font-size: 20px;
}

.opinion__name {
    margin-top: 20px;
    font-weight: 700;
}

.opinion__time {
    margin-left: 20px;
    font-size: 12px;
}

.opinion__quote {
    margin-top: 10px;
    font-style: italic;
}

/* -----FOOTER----- */

.footer {
    padding: 10px 0;
    background-color: var(--color-dark);
    color: var(--color-light);
}