@font-face {
    font-family: 'source_sans';
    src: url('./../fonts/fs/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('./../fonts/fs/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans';
    src: url('./../fonts/fs/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./../fonts/fs/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans';
    src: url('./../fonts/fs/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('./../fonts/fs/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

.parent {
    width: 600px;
    padding: 20%;
    font-family: source_sans;
}

.parent--inline-block {

}

.parent--float {
    font-weight: bold;
}

.parent--flexbox {
    font-style: italic;
}

.parent--inline-block .child {
    display: inline-block;
}

.parent--float::after {
    content: '';
    display: block;
    clear: both;

}
.parent--float  .child {
    float: left;
}

.child--first,
.child--middle {
    width: calc(30% - 10px);
    margin-right: 10px;
}


.child--last {
    width: 40%;
}