@font-face {
    font-family: "Source Sans Pro";
    src: url('/03/fonts/SourceSansPro-Regular.otf') format('opentype');
}

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

.parent {
    padding: 20px;
    width: 600px;
    font-family: "Source Sans Pro";
}

.child {
    margin-right: 10px;
    width: calc((100% - 20px) * 0.3);
}

.child--first {
    font-weight: normal;
}

.child--middle {
    font-weight: bold;
}

.child--last {
    margin-right: 0;
    width: calc((100% - 20px) * 0.4);
    font-style: italic;
}

/* -----inline-block-----
Metoda z font-size gdyż emmet przy zapisie rozwalał mi komentarz w pliku html*/

.parent--inline-block {
    font-size: 0;
}

.parent--inline-block .child {
    display: inline-block;
    font-size: 16px;
}

.parent--float .child {
    float: left;
}

.parent--float::after {
    display: block;
    content: "";
    clear: both;
}

.parent--flexbox {
    display: flex;
}