@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
}


@font-face {
    font-family: 'source_sans_proitalic';
    src: url('../fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro-it-webfont.woff') format('woff');

}


@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');

}

.parent {
    padding: 20px;
    width: 600px;
}

.parent--inline-block .child {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.parent--float::after {
    content: '';
    clear: both;
    display: block;
}

.parent--float .child {
    float: left;
    padding: 0;
    margin: 0;
}

.parent--flexbox {
    display: flex;
}

.child {
    display: inline-block;
    margin-left: 10px;
    width: 30%;
}

.child--first {
    font-family: 'source_sans_proregular';
    margin-left: 0;
}

.child--middle {
    font-family: 'source_sans_probold';
}

.child--last {
    font-family: 'source_sans_proitalic';
    width: 40%;
}