* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sourceSansPro-regular';
    src: url('../font/SourceSansPro-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'sourceSansPro-bold';
    src: url('../font/SourceSansPro-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'sourceSansPro-italic';
    src: url('../font/SourceSansPro-It.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
}

.parent {
    width: 600px;
    padding: 20px;
}

/* inline-block */
.parent--inline-block .child {
    display: inline-block;
    vertical-align: top;
}

/* float */
.parent--float .child {
    float: left;
}

.parent--float {
    overflow: auto;
}

/* flexbox */
.parent--flexbox {
    display: flex;
}

.child--first, .child--middle{
    width: calc(30% - 10px);
}

.child--first {
    font-family: 'sourceSansPro-regular';
}

.child--middle {
    font-family: 'sourceSansPro-bold';
    padding: 0 10px;
}

.child--last {
    font-family: 'sourceSansPro-italic';
    width: 40%;
}