.row, .cell, .container {
    margin: 5px;
    padding: 5px;
    outline: 3px solid;
}
.row {
    outline-color: green;
}
.container {
    margin: 0px;
    max-width: 1000px;
    outline-color: blue;
}
.cell {
    min-height: 50px;
    outline-color: orange;
}
