.content-01__container {
    min-height: 280px;
    display: flex;
    justify-content: space-evenly;
}

.content-01__paragraph-01 {
    width: 50%;
    margin-left: 0;
    margin-right: 5px;
}

.content-01__paragraph-02 {
    width: 50%;
    margin-right: 0;
    margin-left: 5px;
}

.content-02__container {
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}

.content-02__paragraph {
    width: 33%;
} 