.content__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.content__article {
    margin-left: 0px;
    min-height: 250px;
    width: 50%;
    background-color: orange;
}
.content__ads {
    margin-right: 0px;
    min-height: 240px;
    width: 50%;
    background-color: orange;
}
