footer {
  align-items: center;
  border: 2px solid #293241;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  min-height: 60px;
  width: 100%;
}

.footer-container {
  align-items: center;
  border: 2px solid #ee6c4d;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px 0 10px 0;
  max-width: 1000px;
  padding: 5px 0 5px 0;
  width: 100%;
}

.footer__item {
  background-color: #8fb9aa;
  width: 100px;
}
