.content__lower_container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.content__article_lower_left,
.content__article_lower_middle,
.content__article_lower_right {
    background-color: #FFCA18;
    flex-basis: 32%;
    min-height: 300px;
}