.section__container__first.row {
  display: flex;
  justify-content: space-between;
}
.section__container__first__content {
  height: 200px;
  width: 49%;
  margin: 10px 0px;
}
.section__container__second.row {
  display: flex;
  justify-content: space-evenly;
}
.section__container__second__content {
  height: 200px;
  width: 30%;
  margin: 10px 0px;
}
