.offer__container {
  height: 300px;
  gap: 0.75em;
  padding: 0.75em;
}

.offer__container > * {
  flex: 1;
}

.single-offer__title {
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.single-offer__description {
  padding: 2rem;
  flex: 0 0 70%;
}

.single-offer__description.projects {
  font-size: 3.5rem;
  text-align: center;
}

.single-offer__description.projects a:hover {
  font-style: italic;
  color: var(--clr-primary-3);
}

.single-offer__btn-actions {
  margin-top: 20px;
}
