.section__container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}



.section__item-middle {
    width: 30%;
    height: 400px;
    background-color: orange;

}

.section__item-middle--right {
    align-self: flex-end;
    height: 380px;

}