* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid green;
}

.container {
    border: 2px solid blue;
    margin: 2px auto;
    height: 100%;
    width: 1000px;
}

.container--header {
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 15vh;
    justify-content: space-between;

}


.logo {
    background-color: yellow;
    height: 90%;
    width: 250px;
}

.menu {
    background-color: yellow;
    flex-grow: 0;
    height: 90%;
    width: 350px;
}

.container--hero {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 30vh;
    justify-content: space-between;

}

.hero__item {
    background-color: yellow;
    height: 90%;
    width: 48%;
}

.container--subhero {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 30vh;
    justify-content: space-around;

}

.subhero__item {
    background-color: yellow;
    height: 90%;
    width: 32%;
}

.container--foter {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 15vh;
    justify-content: center;
}

.footer__item {
    background-color: yellow;
    height: 50%;
    width: 15%;
}