.container {
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.header,
.section-1 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 1rem;
}

.section-1,
.section-2 {
    gap: 1rem;   
}

.section-2 {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 1rem;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-width: 100px;
    background-color: lightslategray;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.menu {
    display: flex;
    gap: 1rem;
}