.row {
  border: 2px solid green;
}
.container {
  max-width: 1000px;
  border: 2px solid blue;
  margin: 0 auto;
  padding: 10px 0;
}
.cell {
  background-color: orange;
}

/* HEADER */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 60px;
  width: 15%;
}
.header__nav {
  height: 60px;
  width: 50%;
}
/* END OF HEADER */

/* SECTION CONTENT */

.content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__article {
  height: 200px;
  width: 48%;
}
/* END OF SECTION CONTENT */

/* SECTION ITEMS */
