.content__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.content__article {
    background-color: #FFCA18;
    min-height: 300px;
    width: 49%;
    margin-left: 0;
}

.content__article2 {
    background-color: #FFCA18;
    min-height: 300px;
    width: 49%;
    margin-right: 0;
}