.main {
  background-color: #AEDEFC;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.main__article {
  background-color: var(--color-fourth);
  border-radius: 60px;
  width: 60vw;
  float: left;
  margin-left: 20vw;
  margin-right: 30px;
  padding: 10px 5vw;
}

.article__date, .article__h1 {
  margin-left: 1vw;
}

.article__date {
  font-weight: 300; font-style: italic;
  margin-bottom: 10px;
}

.article__h1 {
  margin-bottom: 20px;
}

.article__photo {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin-bottom: 20px;;
}

.photo__description {
  align-self: flex-end;
  margin-top: 5px;
}

.article__p {
  margin-bottom: 10px;
}

.article__author {
  display: flex;
  justify-content: flex-end;
}

.article__writeComments, .article__comments {
  margin-top: 30px;
}

.writeComments__comment {
  margin-top: 10px;
  height: 120px;
  width: 40vw;
  text-align: start;
}

.article__comments {
  margin-bottom: 20px; /* .main margin problem! */
}

.comments__container {
  border: 1px solid;
  margin-top: 10px;
  width: 40vw;
}
.comments__user {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}

.user__picture {
  height: 40px;
  width: 40px;
}

.user__picture {
  margin-left: 25px;
}
.user__name {
  margin-left: 10px;
}
.comments__comment {
  padding: 20px;
}

.comment__date {
  display: block;
  font-weight: 300; font-style: italic;
  text-align: end;
}

.ads__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ads__ad {
  padding-bottom: 20vh;
  width: 15vw;
}

.ad__description {
  font-weight: 350; font-style: italic;
  color: var(--color-alpha);
  text-align: center;
}