* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    width: 100vw;
}
img.logo {
    position: absolute;
    top: 1.5vh;
    left: 2vw;
    width: 20vh;
    height: 20vh;
    min-height: 100px;
    min-width: 100px;
    z-index: -1;
}
#title {
    position: absolute;
    left: 15vw;
    top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}
#container {
    position: relative;
    height: 20vh;
    width: 70vw;
    left: 30vw;
    background-color:royalblue;
    min-height: 100px;
    min-width: 100px;
    background-image: url("img/bgc.jpg");
}
ul {
    padding:0;
    margin:0;
    font-size: 0;
    list-style-type:none;
    height:2rem;
    line-height:2rem;
    text-align:center;
background-color:gray;
    
}
ul > li {
    
    float: left;
    width:calc(25% - 1px);
    font-size: 1rem;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
}
#fst {
border-right: 0;
border-left: 0;
}
#trd {
    border-right: 1px solid white;

}
#fth {
    border-left: 0;

}
#bar {
    position: relative;
    bottom: 0;
    font-size: 0;
}
ul a {
    display: block;
}

ul > li:hover {
background-color: #EEE;
}
ul > li > ul {
    list-style-type:none;
  padding:0;
  margin:0;
  display: none;
}
ul > li:hover > ul {
    display:block;
}
ul>li>ul>li {
    float:none;
    width: 100%;
    background-color: #eee;
}
ul > li:first-child {
    padding-left: 1px;
    border-left: 1px;
}
#article_img {
    width: 20vw;
    height: 15vw;
    float: left;
}
td {
    border: 1px solid black;
    padding: 0;
}
table {
   
    width: 30%;
    border-collapse: collapse;
    background-color:#eee;
}
h1 {
    box-sizing: border-box;
    padding: 2px; 
    font-size: 2em;
     font-weight: bolder;
}
h2 {
    box-sizing: border-box;
    padding: 2px; 
    font-size: 1.5em;
     font-weight: bolder;
     float: left;
}
aside {
float: right;
    background-color: #eee;
    width: 10vw;
    height: 100vh;
}
input {
    border: 2px solid black;
}
textarea {
    border: 2px solid black;
}
#text {
    box-sizing: border-box;
    padding: 2px; 
    float: right;
    width:70vw;
}
main {
    margin-top:5px
}
#comm_con {
width: 20vw;
background-color: white;

}
#article_con {
   
    margin-top: 0;
    max-height: 15vw;
    background-color: gray;
    overflow: hidden;


}
#comments {
    background-color: #eee;
    width: 20%;
    height: 30vh;
    float: right;
}