


.nav__item {
    outline: 1px solid green;
    padding: 0 5px;
    position: relative;
}

.nav {
    background: rgb(0,200,250);
    padding: 10px;
    display: flex;
}


.nav__dropdown  {
    position: absolute;
    left: 0;
    padding-top: 20px;
}

.dropdown__item {
    list-style: none;
}

.nav__item {
    background: rgb(220,220,220);
    padding: 0 5px;
    margin-left: 5px;
    outline-color: green;
    list-style: none;
}


table {
    border-collapse: collapse;
}


table th {
    text-align: center;
    border: 2px solid grey;
    color: #FFF;
    background-color: green;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
    border: 2px solid grey;
}

table tr:nth-child(even) td {
    background-color: #e7edf0;
}