html,
body {
  padding: 0;
  margin: 0;
}
.shadow-style {
  box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.8);
  margin: 20px;
}

.container {
  max-width: 1024px;
  margin: 10px auto 20px auto;
}

.color-blue {
  color: #70a1ff;
}

/* Logo */

.logo {
  display: flex;
  width: 100%;
}

.logo__picture {
  background-image: url(./7.jpg);
  height: 300px;
  flex-basis: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo__menu {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-basis: 50%;
}
.logo__menu-text {
  font-size: 19px;
}

/* End Logo */

/* contents */
.article {
}

.contents {
}

.contents__header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contents__text {
  padding: 0 10px;
}

.contents__text-size {
  font-size: 19px;
}

/* end of contents */

/* author's description */

.author-description {
  display: flex;
  padding-bottom: 20px;
}

.author-description__photo {
  background-image: url(./lorem.jpg);
  flex-basis: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  min-height: 250px;
}

.author-description__text {
  flex-basis: 70%;
  padding: 10px;
  font-size: 17px;
}

.author-description__text-p {
  margin-top: 0;
}

/*End author's description */

/*End Comment Form */

.comment-forms {
  border: solid 1px black;
}

.comment-form {
  display: flex;
}

.comment-form__user {
  flex-basis: 40%;
  margin: 10px;
  border-radius: 4px;
}

.comment-form__user-width {
  width: 100%;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
  outline: none;
}

.comment-forms__comments {
  flex-basis: 60%;

  margin: 0 10px 0 10px;
  display: flex;
}

.comment-form__button {
  background-color: #70a1ff;
}
/*End Comment Form */

/* Comment form */

.comment-forms__comments-arrow {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.comment {
  flex-basis: 80%;
  text-align: center;
}

.comment-forms__comments-rule {
  margin: 2rem auto;
  width: 30%;
  min-width: 200px;
}
.comment-forms__comments__avatar {
  border-radius: 50%;
  height: 70px;
}

/* End Comment form */

/* Footer  */
.footer {
  background-color: #dfe4ea;
}

.footer__box {
  padding: 1rem;
}

/* End Footer  */
