body {
    background-color: #F6F6F6;
}

.menu {
    background-color: #ffffff;
    display: flex;
    margin: 20px;
}

.menu__item {
    padding: 30px 40px;
    border-top: 5px solid transparent;
    line-height: 25px;
    position: relative;
}

.menu__item:hover {
    border-top: 5px solid #009AE1;
    /*niebieski border i kolor najechania*/
    color: #009AE1;
    position: relative;
    line-height: 25px;
}

.drp-menu {
    background-color: #333333;
    color: #ffffff;
    display: none;
    min-width: 170px;
    padding: 10px;
    position: relative;
}

.menu__item:hover>ul {
    display: block;
    position: absolute;
    top: 100%;
    line-height: 30px;
}

.drp-menu__item:hover>ul {
    display: block;
    position: absolute;
    top: 40%;
    left: 100%;
    line-height: 30px;
}