
*{
  box-sizing: border-box;
}

.parent {
  width: 600px;
  padding: 20px;
}

/* child width */

.child--first {
   width: 30%;
}
  
.child--middle {
  width: 30%;
}  

.child--last {
  width: 40%;
}

/* positioning elements by different methods */

.parent--inline-block div{
  display: inline-block;
  background-color: yellow;
}

.parent--float div {
  float: left;
} 

.parent--flexbox {
  display: flex;
  background-color: green;
}
 

  





