.footer {
    background-color: #494949;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer__container {
    margin:0 auto;
    max-width:1150px;
}
.footer__copyright {
    display:flex;
    justify-content:center;
    color:rgb(219, 219, 219);
    font-size:1rem;
}