.header__container {
        display: flex;
        justify-content: space-between;
        margin:0 auto;
        max-width:1150px;
        padding-top:1rem;
}
.header__logo {
    min-width: 200px;
}
.header__nav {
    align-items: center;
    display: flex;
    padding:2rem;
}
.nav__list {
    align-items: center;
    display: flex;
}
.nav__item {
    background: #3E83EE;
    border-radius:5px;
    color: #2b2a2a;
    cursor:pointer;
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5rem;
    margin-left: 5px;
    padding: 10px 25px;
    position: relative;
    transition: color 0.5s ease-out;
}
.nav__item:hover {
    color: #fff;
    border-top-color: #fff;
}
.nav__item:hover > .nav__dropdown__item {
    display: block;
}
.nav__dropdown::after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    border: 10px solid transparent;
    border-top-color: #2b2a2a;
    vertical-align:bottom;
}
.nav__dropdown__item {
    position:absolute;
    top:3rem;
    left: -0.1rem;
    display:none;
}
.dropdown__item {
    background-color: #fff;
    border:3px solid #3E83EE;
    box-sizing: border-box;
    border-radius:5px;
    color: #2b2a2a;
    cursor:pointer;
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5rem;
    padding: 10px 25px;
    position: relative;
    transition: color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    margin:1px;
    box-sizing: border-box;
}
.dropdown__item:hover {
    color:#fff;
    background-color: #3E83EE;
}
