:root {
    --color-alfa: rgb(7, 6, 6);
    --color-beta: rgb(225, 250, 0);
}

img {
    width: 20%;
}

.nav {
    background: var(--color-beta);
    display: flex;
    padding: 10px;
    text-transform: uppercase;
}

.nav__item {
    position: relative;
    padding: 0 5px;
    margin-left: 5px;
    cursor: pointer;
}

.nav__item--no-space {
    margin-left: 0;
}

.nav__link {
    display: inline-block;
    color: var(--color-alfa);
    height: 100%;
    text-decoration: none;
    width: 100%; 
    text-align: center;
}

.nav__item:hover > .nav__dropdown {
    display: block;
}

.nav__dropdown {
    display: none;
    padding-top: 20px;
    position: absolute;
    left: 120px;
    top: 40px;
}

.dropdown__item {
    background: var(--color-beta);
    border-bottom: 3px solid var(--color-alfa);
    padding: 5px 20px;
    min-width: 120px;
}

.dropdown__link {
    display: inline-block;
    /* color: var(--color-alfa); */
    height: 100%;
    text-decoration: none;
    width: 100%;
}