:root {
    --color-alfa: rgb(7, 6, 6);
    --color-beta: rgb(225, 250, 0);
}

img {
    width: 30%;
}

.nav {
    background: var(--color-beta);
    display: flex;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
}

.nav__item {
    position: relative;
    padding: 0 5px;
    cursor: pointer;
}

.nav__link {
    display: inline-block;
    color: var(--color-alfa);
    text-align: center;
}

.nav__item:hover > .nav__dropdown {
    display: block;
}

.nav__dropdown {
    display: none;
    padding-top: 20px;
    position: absolute;
    left: 120px;
    top: 70px;
}

.dropdown__item {
    background: var(--color-beta);
    border-bottom: 3px solid var(--color-alfa);
    padding: 5px 20px;
}

.dropdown__link {
    text-decoration: none;
}