.nav__item {
    position: relative;
    width: 150px;
    line-height: 25px;
    background-color: lawngreen;
    text-align: center;
}


.nav__dropdown {
    display: none;
    position: absolute;
    padding-top: 5px;
    width: inherit;
    line-height: inherit;
    background-color: white;
}


.nav__item:hover > .nav__dropdown {
    display: block;
    
}

.a__item {
    text-decoration:none;
    padding:0 10px;
    color: white;
}

.dropdown__item {
    background-color: teal;
    width: inherit;
}
.nav__item:hover > .nav__dropdown {
    display: block;
}


.header__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  
}


/* tabela */
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

