* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__link {
    width: 10%;
    padding: 20px;
}

.header__link img {
    width: 100%;
    height: 100%;
}

.header__nav {
    padding: 20px 0;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    position: relative;
    margin-right: 25px;
}

.nav__item--no-space {
    margin-right: 0;
}

.nav__link {
    display: block;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    box-sizing: border-box;
}

.nav__link:hover {
    color: #878788;
}

.nav__link--favoritism {
    background-color: #C2C2CE;
    border: 1px solid #999999;
}

.nav__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
}

.dropdown__item {
    margin-top: 5px;
}

.dropdown__link {
    display: none;
    width: 200%;
    text-align: center;
    background-color: #C2C2CE;
}

.nav__item:hover .dropdown__link {
    display: block;
}

.main {
    box-shadow: 0 -5px 5px -5px black;
    background-color: #FCFCFC;
    padding: 80px 0;
}

.main__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.main__article {
    display: flex;
    justify-content: flex-start;
    flex-basis: 55%;
    padding: 100px 20px;
}

.article__leftSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.article__title,
.article__paragraph,
.article__date,
.article__author {
    padding: 15px 50px 15px 0;
}

.article__title {
    text-transform: uppercase;
}

.article__date,
.article__author {
    font-weight: bold;
}


.article__author--no-topPadding {
    padding-top: 0;
}

.article__author--no-bottomPadding {
    padding-bottom: 0;
}

.article__rightSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.article__img {
    flex-basis: 45%;
}

.article__img img {
    width: 100%;
    height: 100%;
}

.article__table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    padding: 30px 0;
}

.article__table caption {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.article__table th,
.article__table td {
    border: 1px solid black;
    text-align: center;
}

.main__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 40%;
}

.aside__form {
    flex-basis: 40%;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: rgb(194, 194, 206);
}

.form__title {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.form__field {
    border: 1px solid rgb(0, 0, 0);
    margin: 5px 0;
    padding: 5px 0;
}

.form--border-radius {
    border-radius: 10px;
}

textarea.form__field {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}

.form__button {
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    line-height: 32px;
    font-size: 15px;
    padding: 0 30px;
}

.aside__comments {
    flex-basis: 40%;
    overflow-x: hidden;
}

.aside__comment {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: rgb(194, 194, 206);
}

.aside__comment:nth-child(1) {
    position: relative;
}

.comment__author {
    margin-bottom: 5px;
}

.comment__time {
    margin-left: 2px;
}

.comment__content {
    font-family: Arial, Helvetica, sans-serif;
}

.comment__replay {
    position: relative;
    top: 0;
    left: 10%;
    margin-top: 10px;
}

.footer {
    background-color: rgb(194, 194, 206);
    box-shadow: 0 5px 5px 5px black;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__copyright {
    padding: 20px;
}

.footer__paragraph {
    font-family: Arial, Helvetica, sans-serif;
}